#page{

    font-size: 4em;
    
  
}

#logo{

    
    width: 100%;
    margin-bottom: 6%;
   
}

#reservia{

    width: 30%;
    
}

#header{

  
   
    flex-wrap: wrap;
    margin-left: 0;
    align-items: stretch;
   
    
 }

