body{

    margin: auto;
    
}

#page{

   font-size: 4em;
 
}

#header{

   margin : auto;
   flex-wrap: wrap;
  
}

#logo{

    width: 70%;
    margin-bottom: 6%;
    margin-left: 20px;
   
}

#reservia{

    width: 40%;
    
}

#menu{

    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 20%;
     
}

.txtblue{

    border-bottom: 7px #0065FC solid;
    border-top: none;
    order: 3;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    
}

.txtblk{

    order: 4;
    width: 50%;
    padding-top: 3%;
    border-bottom: 7px #F2F2F2 solid;
    text-align: center;
    
}

.txtblue2{

    order: 2;
    padding-top: 8%;
    font-weight: bold;

}

#titre{

    margin-top: 60px;

}

#titre h2{

    font-size: 1.4em;
    margin-top: 4%;
    margin-left: 70px;
    margin-bottom: 0%;

}

#titre p{

    margin-left: 70px;
}

#recherche{

    margin-bottom: 140px;
    margin-top: 140px;
    text-align: center;
   
}

.fa-map-marker-alt{

    border: 2px #F2F2F2 solid;
    padding: 50px 50px 0px 60px;
    width: 75px;
    height: 120px;
    border-radius: 60px 0px 0px 60px;
    
}

#saisie{

    width: 900px;
    margin-left: -18px;
    height: 164px;
    border: 4px #F2F2F2 solid;
  
}

#bouton{

    display: none;

}

#loupe{

    display: inline; 
    height: 175px;
    width: 180px;
    border-radius: 60px 60px 60px 60px;
    margin-left: -80px;
    color: white;
    background-color: #0065FC;
    border: none;
   
}

#filtres{

    flex-wrap: wrap;
    font-size: 0.8em;
   
}

#filtres p{

    font-size: 1.2em;
    margin-left: 80px;
    padding-bottom: 70px;
    width: 100%;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    width: 170px;
    height: 110px;
    padding-top: 40px;
    position: relative;
    bottom: 6px;
   
}

.filtre{

    border-top: 7px #D9D9D9 solid;
    border-right: 7px #D9D9D9 solid;
    border-bottom: 7px #D9D9D9 solid;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    height: 140px;
    
}

.eco{

    width: 45%;
    margin-right: 150px;
   
}

.fam{

    width: 30%;
    margin-left: -5px;

}

.rom{

    width: 40%;
}

.ani{

    width: 50%
}

#information{

    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
    
}

.fa-info{

    border: 7px #F2F2F2 solid;
    width: 90px;
    height: 80px;
    padding-top: 20px;
    margin-right:20px ;
  
}

#contenu{

    display:flex;
    flex-direction: column;
    
    
}

#corps{

   flex-direction: column-reverse;
   justify-content: space-around;
  
}

#hebergement{

    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    width: 100%;
    margin-right: 0;
   
}

#hebergement h2, .plus{

    font-weight: bold;
    font-family: ralewaybold, sans-serif;
    margin-left: 50px;

}

.plus{

    margin-top: 0;
    margin-bottom: 200px;
}

#marseille{

    flex-direction: column;
    align-items: center;
    margin-left: -25px;

}

.carte_hebergement{

    width: 1290px;
    height: auto;
    margin-bottom: 200px;
    border-radius: 70px 70px 70px 50px;
    box-shadow: 0px 15px 12px #F2F2F2;

}

.img{

    width: 100%;
    height: 400px;
    border-radius: 70px 70px 0px 0px;
    
}

.desc{
    
    width: 100%;
    height: 350px;
    
}

#pop{

    width: 100%;
   
}

#pop h2{

    font-family: ralewaybold, sans-serif;
    margin-left: 50px;
    
}

.carte_populaire{

    width: 90%;
    height: 25%;
    margin-bottom: 50px;
    padding: 20px 20px 20px 20px;
    border-radius: 70px 70px 70px 70px;

}

.img2{

    width: 530px;
    height: 400px;
    border-radius: 70px 0px 0px 70px;
    
}

.desc2 span{

    line-height: 1em;
}

#activites{

    display: flex;
    flex-direction: column;
}

#activites h1{

    margin-left: 50px;
     
}

#act{

    height: 80%;
 
}

.vignette{

    width: 1290px;
    height: 800px;
    border-radius: 70px 70px 70px 70px;
    box-shadow: 0px 18px 16px #F2F2F2;
    margin-bottom: 15%;
 
}

.vieux_port, .calanques{

    display: none;
       
}

.img3{

    width: 1296px;
    height: 600px;
    border-radius: 70px 70px 0px 0px;
    
}

.img4{

    display: inline;
    border-radius: 70px 70px 0px 0px;
    width: 1296px;
    height: 600px;
}

.vignette p{

    margin-top: 50px;
    
}

#footer{

    flex-direction: column;
    font-family: ralewayregular, sans-serif;
    font-size: 4em;
    width: 1360px;
    padding-left: 80px;

}

.bottom{

    margin-right: 0%;
    padding-left: 0%;
}

.bottom h5{

    font-family: ralewaybold, sans-serif;

}




