body{

    width: 100%;
    margin:0;
}


#page{

    width: 100%;
    margin: 0;
}

/* début du bloc header */

#header{

    width: 100%;
    margin: 0;
   
}

#navigation{

    width: 100%;
    margin : auto;
    flex-wrap: wrap;
   
 }


 .txtblue{

    border-bottom: 3px #0065FC solid;
    border-top: none;
    order: 3;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    
}

.txtblk{

    order: 4;
    width: 50%;
    padding-top: 3%;
    border-bottom: 3px #F2F2F2 solid;
    text-align: center;
    
}

.txtblue2{

    order: 2;
    padding-top: 8%;
    font-weight: bold;

}

#titre{

    margin-top: 4%;
    margin-bottom: 4%;
}

#titre h2{

    font-family: ralewaybold, sans-serif;
    padding-left: 5%;
   
}

#titre p{

    padding-left: 5%;
}

#recherche{

    margin-bottom: 5%;
    text-align: center;
   
}

#loupe{

    display: none;
}

.fa-map-marker-alt{

    padding: 11.5px 4px 0px 8px;
    width: 30px;
   
    
}

#saisie{

    width: 65%;
    height: 40px;
    border: 2px #F2F2F2 solid;
    
}

#bouton{

    display: none;
}

#loupe{

    display: none;
}

#mini_loupe{

    display: inline; 
    height: 45px;
    width: 45px;
    border-radius: 15px 15px 15px 15px;
    color: white;
    background-color: #0065FC;
    border: none;
    position: absolute;
    top: 34%;
    left: 78%;
}


#filtres{

    flex-wrap: wrap;
    font-size: 0.9em;
    margin-bottom: 2%;
    width: 95%;
    margin: auto;
 
}

#filtres p{

    margin-left: 2%;
    padding-bottom: 5%;
    width: 80%;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    width: 48px;
    height: 31px;
    margin-right: 8px ;
    bottom: 3px;
}

.filtre{

    padding-left: 1%;
    margin-bottom: 5%;
    margin-left: 5%;
    height: 40px;
    margin-right: 10px;
    padding-right: 10px;
    
}

.eco{

    width: 38%;
    order: 1;
    
}

.fam{

    width: 28%;
    order:2;

}

.rom{

    width: 37%;
    order: 3;
    
}

.ani{

    width: 50%;
    order: 4;

}

.fa-info{

    width: 28px;
    height: 22px;
    margin-left: 2%;
    float: left;
  
}

/* fin du bloc header */


/* début du bloc corps */


#corps{

    flex-direction: column-reverse;
    width: 100%;
  
}


#hebergement{

    width: 100%;
    height: 80%;
    background-color: #FFFF;
    border-radius: 00px 00px 00px 00px;
   
}

    /* début bloc Marseille*/

#marseille{

    flex-direction: column;
    align-items: center;

}

.carte_hebergement{

    width: 85%;
    margin-bottom: 3%;
    box-shadow: 0px 8px 6px #f2f2f2;

}

#mer{

    background-size: 110% 150%;
    background-position-x: 30%;
    background-position-y: 30%;
  
}


#amina{

    background-size: 120% 220%;
    background-position-x: 30%;
    background-position-y: 40%;
}

.desc{
    
    line-height: 1.8em;
    padding-left: 2%;
    padding-top: 2%;
    height: 50%;
    
}

/* fin bloc Marseille*/


/* début bloc pop*/

#pop{

    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

.fa-chart-line{

    right: 10%;
}


.carte_populaire{

    margin-bottom: 4%;
    
}
 
#soleil{

    background-size: 160% 120%;
    background-position-x: 50%;
    background-position-y: 50%;
}

/* fin du bloc pop*/

/* fin du bloc corps */

/*début du bloc activités*/


#activites{

    display: flex;
    flex-direction: column;
    width: 100%;
    
}

#act{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1500px;
    

}

.vignette{

    width: 90%;
    height: 15%;
  
}

.vignette2{

     width: 90%;
     height: 30%;
  
}

.vignette3{

    height: 50%;
  
}

.vignette5{

    height: 45%;

}

.vignette p .vignette3 p{

    padding-top: 1%;
   
}

.vignette4 p .vignette5 p{

    padding-bottom: 1%;

}

.pict3{

    height: 75%;
  
}

#vieux_port{

    background-size: 180% 180%;
    background-position-x: 50%;
    background-position-y: 20%;
}


#calanques{

    background-size: 180% 160%;
    background-position-x: 50%;
    background-position-y: 15%;
}

#pomegues{

    background-size: 100% 270%;
    background-position-x: 50%;
    background-position-y: 35%;

}

#frioul{

    background-size: 100% 140%;
    background-position-x: 50%;
    
}

#garde{

    background-size: 100% 140%;
    background-position-x: 50%;
}

#longchamp{

    background-size: 120% 160%;
    background-position-x: 40%;
    background-position-y: 10%;
}

/*fin du bloc activités*/

/* début footer */
#footer{

    margin: auto;
    width:100%;
}

#bas_de-page{

    flex-direction: column;
    margin-left: 6%;

}


/* fin du footer */

