body{

    margin: auto;
}
#page{

    font-size: 2em;

}
/* début du bloc header*/

#header{

    display: flex;
    flex-direction: column;
    width: 100%;
   
}

#navigation{

    flex-wrap: wrap;
    
 }

#logo{

    width: 100%;
    margin: auto;
    margin-bottom: 6%;
    padding-bottom: 4%;
    text-align: center;
    border-bottom: 5px #0065FC solid;
   

}

#reservia{

    width: 30%;
   
}

 .txtblue{

    color:#0065FC;
    border-top: none;
    padding-top: 4%;
    
}

#titre{

    margin-top: 100px;
    font-size: 1.1em;
    width: 95%;
    margin-left: 2%;
    
   
}
#recherche{

    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
   
}

#loupe{

    display: inline; 
    height: 100px;
    width: 100px;
    border-radius: 20px 20px 20px 20px;
    margin-left: -20px;
    color: white;
    background-color: #0065FC;
    border: none;
}

.fa-map-marker-alt{

    border-top: 2.5px #f2f2f2 solid;
    padding: 30px 20px 0px 40px;
    width: 40px;
    height: 70px;
    border-radius: 20px 0px 0px 20px;
    background-color: #F2F2F2;
    
}

#saisie{

    width: 60%;
    height: 95px;
    border: 2px #F2F2F2 solid;
    margin-left: -6px;
    font-weight: bold;
    font-size: 0.9em;

}

#bouton{

   display: none;
}


#filtres{

    flex-wrap: wrap;
    font-size: 0.7em;
    padding-left: 2%;
   
}

#filtres p{

    font-size: 1.2em;
    margin-left: 2%;
    padding-bottom: 40px;
    width: 80%;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    width: 80px;
    height: 50px;
    padding-top: 30px;
    margin-top: -7px;
    margin-left: 2%;
    position: relative;
    right: 2%;
    
   
}

.filtre{

    border-top: 5px #D9D9D9 solid;
    border-right: 5px #D9D9D9 solid;
    border-bottom: 5px #D9D9D9 solid;
    border-radius: 80px 80px 80px 80px;
    margin-bottom: 50px;
    height: 65px;
    
    
}

.eco{

    width: 40%;
    order: 4;
    
   
}

.fam{

    width: 30%;
    order:2;

}

.rom{

    width: 37%;
    order: 3;
    
}

.ani{

    width: 45%;
    order: 1;


}

#information{

    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold;
    margin-right: 3%;
    font-size: 1.1em;
    
    
}

.fa-info{

   
    background-color: #ffff;
    width: 70px;
    height: 50px;
    padding-top: 20px;
    margin-right:20px;
    margin-left: 0px;
    float: left;
  
}

/* fin du bloc header*/


/* début du bloc corps */

#corps{

    display: flex;
    flex-direction: column;
    width: 100%;
}


#hebergement{

   
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
   
}

#hebergement h2, .plus{

    margin-left: 4%;
    font-weight: bold;
    

}

#marseille{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.carte_hebergement{

    display: flex;
    flex-direction: column;
    height: 43%;
    width: 90%;
    margin-bottom: 10%;
    padding: 1%;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFF;

}

.pict{
    width: 100%;
    height: 9em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    border-radius: 20px 20px 0px 0px;
    
}



#cannebiere{

    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: 120% 180%;
    background-position-x: 50%;
    background-position-y: 30%;
}

#port{

    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: 120% 180%;
    background-position-x: 50%;
    background-position-y: 50%;
}

#mouettes{

    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: 120% 180%;
    background-position-x: 50%;
    background-position-y: 50%;
}

#mer{

    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: 100% 180%;
    background-position-x: 50%;
    background-position-y: 50%;
  
}

#panier{

    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: 100% 180%;
    background-position-x: 50%;
    background-position-y: 50%;
}

#amina{

    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: 120% 250%;
    background-position-x: 50%;
    background-position-y: 50%;
}

 
.desc{
    
    
    line-height: 1.8em;
    padding-left: 2%;
    padding-top: 2%;
    height: 50%;
    
}

span .fa-star{

    color:#D9D9D9D9;
}

.fa-star{
 
    color:#0065FC;
    
}

#pop{

    display:flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
    background-color: #FFFF;
    border-radius: 20px 20px 20px 20px;
}


#pop h2{

    margin-left: 4%;
    padding-top: 2.5%;

}

#populaires{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 
   
}


.fa-chart-line{

    position: absolute;
    right: 8%;
}

.carte_populaire{

    display: flex;
    width: 90%;
    height: 20%;
    padding: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 15px 12px #f2f2f2;
    background-color: #FFFF;
    margin-bottom: 10%;
    
}


.carte_populaire h3{

    font-size: 1.1em;
    margin-bottom: 0.1em;
}
  
.img2{

    width: 8em;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 120% 100%;
    border-radius: 20px 00px 0px 20px;
    float: left;
    
    
}

#soleil{

    background-image: url("images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: 180% 100%;
}

#eau{

    background-image: url("images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: 180% 140%;
    background-position-x: 40%;
}

#bleu{

    background-image: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");

}

.desc2{

    padding-left: 9em;
    padding-top: 0.5em;
    
}

.desc2 span{

    line-height: 3em;
}




/* fin du bloc corps */

/*début du bloc activités*/


#activites{

    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
    
}

#activites h1{

    font-family: ralewaybold, sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    height: auto;
    
}

#act{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3000px;
    

}

.vignette{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 90%;
    height: 400px;
    
}

.vignette2{

     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 90%;
     height: 920px;
   
}

.vignette3{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 100%;
    height: 400px;
}

.vignette4{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 100%;
    height: 400px;

}


.vignette5{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 100%;
    height: 400px;

}

.vignette p{

    padding-left: 5%;
    padding-top: 1%;
    font-weight: bold;font-family: ralewaybold, sans-serif;
}

.vignette3 p{

    padding-left: 5%;
    padding-top: 1%;
    font-weight: bold;font-family: ralewaybold, sans-serif;

}

.vignette4 p{

    padding-left: 5%;
    padding-bottom: 1%;
    font-weight: bold;font-family: ralewaybold, sans-serif;

}
.vignette5 p{

    padding-left: 5%;
    padding-bottom: 1%;
    font-weight: bold;font-family: ralewaybold, sans-serif;
}


.pict3{

    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#vieux_port{

    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: 200% 240%;
    background-position-x: 50%;
    background-position-y: 50%;
}


#calanques{

    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: 140% 120%;
    background-position-x: 50%;
    background-position-y: 50%;
}



.pict4{

    width: 100%;
    height: 78%;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#pomegues{

    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: 100% 270%;
    background-position-x: 50%;
    background-position-y: 40%;

}

#frioul{

    background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: 100% 140%;
    background-position-x: 50%;
    
}

#garde{

    background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: 100% 140%;
    background-position-x: 50%;
}

#longchamp{

    background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: 100% 120%;
    background-position-x: 30%;
    background-position-y: 10%;
}



/*fin du bloc activités*/



/* début footer */
#footer{

    display: flex;
    justify-content: center;
    font-family: ralewayregular, sans-serif;
    margin: auto;
    background-color: #F2F2F2;
    width:100%;
}

#bas_de-page{

    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: ralewayregular, sans-serif;
    background-color: #F2F2F2;
    margin-left: 5%;

}

.bottom{

    margin-right: 20%;
    padding-left: 2%;
}

.bottom h5{

    font-family: ralewaybold, sans-serif;
    font-size: 1em;
}

.bottom p{

    line-height: 2em;
}

/* fin du footer */

