
@font-face {
    font-family: 'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('police_bold/raleway-bold-webfont.woff2') format('woff2'),
         url('police_bold/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#page{

    width: 1440px;
    margin: auto;
    font-family: ralewayregular, sans-serif;
    padding-left: 30px;
 
}

a{

    text-decoration: none;
    color: black;
    
}

#header{

    display:flex;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    
    
   
}

#logo{

    
    margin-left: -3.5%;
    padding-top: 3%;
    width: 60%;
     
    
}


.txtblue{

    color:#0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 4%;
    

   
}

.txtblk{

    padding-top: 4%;
    font-weight: bold;

    
}
.txtblue2{

    color:#0065FC;
    padding-top: 4%;
    

   
}

#titre{

    width: 100%;
}

#titre h1{


margin-top: 4%;
margin-bottom: 0%;
font-family: ralewaybold, sans-serif;



}

#recherche{

    margin-bottom: 3%;
    margin-top: 3%;
   

}

#loupe{

    display: none;
}

.fa-map-marker-alt{

    
    border: 2px #F2F2F2 solid;
    padding: 11.5px 4px 0px 15px;
    width: 25px;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    
    

}

#saisie{

    width: 270px;
    height: 40px;
    border: 2px #F2F2F2 solid;
    margin-left: -6px;
    font-weight: bold;
    font-size: 0.9em;


}

#bouton{

    margin-left: -6px;
    width: 120px;
    height: 46px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: #FFFF;
    font-size: 0.9em;
}

#filtres{

  
    display: flex;
    font-weight: bold;
   
}

#filtres p{

    margin-top: 14px;
    margin-right: 4%;
    padding-bottom: 0px;
    margin-bottom: 0x;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    background-color: #DEEBFF;
    color: #0065FC;
    width: 40px;
    height: 30px;
    text-align: center;
    padding-top: 14px;
    margin-right:20px ;
    border-radius: 100px 100px 100px 100px;
    margin-left: -20px;
}

.filtre{

    border-top: 1px #F2F2F2 solid;
    border-right: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-radius: 0px 20px 20px 0px;
    margin-right: 50px;
    padding-right: 20px;
    width: auto;
    height: 44px;
    
}

.filtre:hover{

    color: #f2f2f2;
    background-color:#0065FC ;
}

#information{

    margin-bottom: 3%;
    margin-top: 3%;

}

.fa-info{

    color: #0065FC;
    border: 1px #F2F2F2 solid;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    margin-right:px ;
    border-radius: 100px 100px 100px 100px;
  
}


#corps{

    display: flex;
    width: 100%;
}


#hebergement{

    background-color: #F2F2F2;
    width: 68%;
    margin-right: 2%;
    border-radius: 20px 20px 20px 20px;
   

}



#hebergement h2, .plus{

    margin-left: 35px;
    font-weight: bold;

}


#marseille{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.carte_hebergement{

    width: 250px;
    height: 190px;
    margin-bottom: 20px;
    padding: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFF;

}



.img{

    width: 250px;
    height: 115px;
    
}
   
.desc{
    
    width: 250px;
    height: 120px;
    line-height: 1.6em
    
    
}

.desc2 span{

    line-height: 3em;
}


   
span .fa-star{

    color:#D9D9D9D9;
}


.fa-star{

    
    color:#0065FC;
    margin-top: 5px;
}
.img{

    width: 250px;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    
}
   
.desc{
    
    width: 250px;
    height: 120px;
    
}
#pop{

    display:flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 28%;
}


#populaires{

    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#pop h2{

    margin-left: 35px;

}

.fa-chart-line{

    padding-left: 25%;
}

.carte_populaire{

    width: 300px;
    height: 140px;
    margin-bottom: 20px;
    padding: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFF;
    

}

.img2{

    width: 130px;
    height: 134px;
    padding-right: 5%;
    float: left;
    border-radius: 20px 0px 0px 20px;
    

}


.carte_populaire h3{

    font-size: 1.1em;
    margin-bottom: 0.1em;
}


#activites h1{

    font-family: ralewaybold, sans-serif;
}


#act{

    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    
}

.vignette{

    
    width: 330px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;font-family: ralewaybold, sans-serif;
    box-shadow: 0px 8px 6px #F2F2F2;
}

.img3{

    border-radius: 20px 20px 0px 0px;
    
}

.vignette p{

    padding-left: 5%;
}

#footer{

    display: flex;
    font-family: ralewaythin, sans-serif;
    margin: auto;
    width: 1470px;
    background-color: #F2F2F2;
    
    
}

.bottom{

    margin-right: 20%;
}

.bottom h5{

    font-family: ralewaybold, sans-serif;
    font-size: 1em;
}

.bottom p{

    line-height: 2em;
}


