
#page{

    font-size: 4em;
    margin: auto;
  
}

#header{

  
   margin : 0;
   flex-wrap: wrap;
   margin-left: -30px;
  
   
}

#logo{

    
    width: 70%;
    margin-bottom: 6%;
   
    
}

#reservia{

    width: 40%;
    
}

#menu{

    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 20%;
     
}


.txtblue{

    color:#0065FC;
    border-bottom: 7px #0065FC solid;
    border-top: none;
    order: 3;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    
    
}

.txtblk{

    
    order: 4;
    width: 50%;
    padding-top: 3%;
    border-bottom: 7px #F2F2F2 solid;
    text-align: center;
    
    
}
.txtblue2{

    color:#0065FC;
    order: 2;
    width: 20%;
    padding-top: 8%;
    font-weight: bold;

   
}

#titre{

    margin-top: 10%;
    width: 100%;
   

}

#titre h1{


    margin-top: 4%;
    margin-bottom: 0%;
    font-weight: bold;
       
    }

#recherche{

    margin-bottom: 3%;
    margin-top: 10%;
    display: flex;
   
    
    
   
}

#bouton{

    display: none;
    
    }

.fa-map-marker-alt{

    
    border: 2px #F2F2F2 solid;
    padding: 50px 0px 0px 60px;
    width: 130px;
    height: 120px;
    border-radius: 30px 0px 0px 30px;
    background-color: #F2F2F2;
    
    

}


#saisie{

    width: 70%;
    height: 164px;
    border: 4px #F2F2F2 solid;
  
}


#loupe{

    display: inline; 
    height: 175px;
    width: 180px;
    border-radius: 60px 60px 60px 60px;
    margin-left: -80px;
    color: white;
    background-color: #0065FC;
    border: none;
    

}


#filtres{

  
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
    font-family: ralewaybold, sans-serif;
   
}

#filtres p{

    margin-top: 14px;
    margin-right: 4%;
    padding-bottom: 0px;
    margin-bottom: 0x;
    width: 100%;

}



.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    background-color: #DEEBFF;
    color: #0065FC;
    width: 170px;
    height: 110px;
    padding-top: 50px;
    margin-right:20px ;
    margin-left: -20px;
}



.filtre{

    border-top: 7px #F2F2F2 solid;
    border-right: 7px #F2F2F2 solid;
    border-bottom: 7px #F2F2F2 solid;
    border-radius: 100px 100px 100px 100px;
    margin-right: 50px;
    padding-right: 20px;
    margin-bottom: 50px;
    height: 160px;
    
    
}

.eco{

    width: 40%;
    margin-right: 150px;
   

}

.fam{

    width: 29%;

}

.rom{

    width: 40%;
}

.ani{

    width: 50%
}


#information{

    margin-bottom: 10%;
    margin-top: 10%;
    font-weight: bold;

}

.fa-info{

    color: #0065FC;
    border: 7px #F2F2F2 solid;
    width: 140px;
    height: 100px;
    padding-top: 35px;
    margin-right:px ;
    border-radius: 100px 100px 100px 100px;
  
}

#contenu{

    display:flex;
    flex-direction: column;
}
#corps{

   flex-direction: column-reverse;
   justify-content: space-around;
    
}


#pop{

    display:flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    
}

#pop h2{

    font-family: ralewaybold, sans-serif;
}

.carte_populaire{

    width: 90%;
    height: 25%;
    margin-bottom: 50px;
    padding: 20px 20px 20px 20px;
    background-color: #FFFF;
    

}


.img2{

    width: 530px;
    height: 400px;
    padding-right: 5%;
    float: left;
    border-radius: 20px 0px 0px 20px;
    

}

.desc2 span{

    line-height: 1em;
}

#hebergement{

    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    width: 100%;
    margin-right: 0;
  
    
}



#hebergement h2, .plus{

   
    font-weight: bold;
    font-family: ralewaybold, sans-serif;

}

#marseille{

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.carte_hebergement{

    width: 90%;
    height: auto;
    margin-bottom: 200px;
    padding: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 15px 12px #F2F2F2;

}

.img{

    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0px 0px;
    
}

.desc{
    
    width: 100%;
    height: 350px;
    line-height: 1.6em
    
    
}


#act{

    display: flex;
    
}
