@font-face {
    font-family: 'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('police_bold/raleway-bold-webfont.woff2') format('woff2'),
         url('police_bold/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#page{

    width: 1440px;
    margin: auto;
    font-family: ralewayregular, sans-serif;
    
<<<<<<< HEAD
=======
    
    
>>>>>>> parent of c7d4862... Corrections
}

a{

    text-decoration: none;
    color: black;
    
}

#intro{

    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 18px;

}

#header{

    display:flex;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    
}

#logo{

    margin-left: -3.3%;
    padding-top: 3%;
    width: 60%;
      
}


.txtblue{

    color:#0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 4%;
    
}

.txtblk{

    padding-top: 4%;
    font-weight: bold;

    
}

.txtblue2{

    color:#0065FC;
    padding-top: 4%;
    
}

#titre{

    width: 100%;
}

#titre h1{

    margin-top: 4%;
    margin-bottom: 0%;
   

}

#recherche{

    margin-bottom: 3%;
    margin-top: 3%;
   
}

#loupe{

    display: none;
}

.fa-map-marker-alt{

    border-top: 2.5px #f2f2f2 solid;
    padding: 11.5px 4px 0px 15px;
    width: 25px;
    height: 32px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    
}

#saisie{

    width: 270px;
    height: 40px;
    border: 2px #F2F2F2 solid;
    margin-left: -6px;
    font-weight: bold;
    font-size: 0.9em;

}

#bouton{

    margin-left: -6px;
    width: 120px;
    height: 46px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: #FFFF;
    font-size: 0.9em;
}

#filtres{

  
    display: flex;
    font-family: ralewaybold, sans-serif;
   
}

#filtres p{

    margin-top: 14px;
    margin-right: 4%;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    background-color: #DEEBFF;
    color: #0065FC;
    width: 50px;
    height: 36px;
    text-align: center;
    padding-top: 14px;
    margin-right:20px ;
    border-radius: 100px 100px 100px 100px;
    margin-left: -20px;
    position: relative;
    bottom: 2px;


}

.filtre{

<<<<<<< HEAD
    border-top: 2px #D9D9D9D9 solid;
    border-right: 2px #D9D9D9D9 solid;
    border-bottom: 2px #D9D9D9D9 solid;
    border-radius: 0px 30px 30px 0px;
=======
    border-top: 1px #F2F2F2 solid;
    border-right: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-radius: 0px 20px 20px 0px;
>>>>>>> parent of c7d4862... Corrections
    margin-right: 50px;
    padding-right: 20px;
    width: auto;
    height: 45px;
    
}

.filtre:hover{

    color: #f2f2f2;
    background-color:#0065FC ;
}

#information{
    
    margin-bottom: 3%;
    margin-top: 3%;

}

.fa-info{

    color: #0065FC;
    border: 1px #F2F2F2 solid;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    margin-right:5px;
    border-radius: 100px 100px 100px 100px;
  
}


#corps{

    display: flex;
    justify-content: center;
    
}


#hebergement{

    background-color: #F2F2F2;
<<<<<<< HEAD
    width: 980px; 
    margin-right: 25px;
=======
    width: 68%;
>>>>>>> parent of c7d4862... Corrections
    margin-right: 2%;
    border-radius: 20px 20px 20px 20px;
   
}

#hebergement h2, .plus{

    margin-left: 35px;
    font-weight: bold;

}

#marseille{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carte_hebergement{

    width: 250px;
    height: 190px;
    margin-bottom: 20px;
    padding: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFF;

}

.img{

    width: 250px;
    height: 115px;
    border-radius: 20px 20px 0px 0px;
    
}
 
.desc{
    
    width: 250px;
    height: 120px;
    line-height: 1.6em
     
}

span .fa-star{

    color:#D9D9D9D9;
}

.fa-star{
 
    color:#0065FC;
    margin-top: 5px;
}

#pop{

    display:flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 28%;
}

#pop h2{

    margin-left: 35px;

}

#populaires{

    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.fa-chart-line{

    padding-left: 25%;
}

.carte_populaire{

    width: 300px;
    height: 140px;
    margin-bottom: 20px;
    padding: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFF;
    
}

.img2{

    width: 130px;
    height: 134px;
    padding-right: 5%;
    padding-top: 2px;
    padding-left: 2px;
    float: left;
    border-radius: 20px 0px 0px 20px;
    
}

.carte_populaire h3{

    font-size: 1.1em;
    margin-bottom: 0.1em;
}
  
.desc2 span{

    line-height: 3em;
}

#activites{

    margin-bottom: 50px;
}

#activites h1{

    font-family: ralewaybold, sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    
<<<<<<< HEAD
=======
    
    
>>>>>>> parent of c7d4862... Corrections
}

#act{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
   
}

.vignette{

    width: 330px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;font-family: ralewaybold, sans-serif;
    box-shadow: 0px 8px 6px #F2F2F2;
}

.img3{

    border-radius: 20px 20px 0px 0px;
    
}

.img4{

    display: none;
}

.vignette p{

    padding-left: 5%;
}

#footer{

    display: flex;
    justify-content: center;
    font-family: ralewayregular, sans-serif;
    margin: auto;
    width: 1550px;
    background-color: #F2F2F2;
    
}

.bottom{

    margin-right: 20%;
    padding-left: 2%;
}

.bottom h5{

    font-family: ralewaybold, sans-serif;
    font-size: 1em;
}

.bottom p{

    line-height: 2em;
}


