@font-face {
    font-family: 'ralewaythin';
    src: url('police/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('police/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a{

    text-decoration: none;
    color: black;
    
}

#navigation a{

    display: inline-block;
    height: 50%;
    padding-top: 8%;
    width: 35%;
    text-align: center;
}

.logo{

    padding-top: 2%;
}

#page{

    width: 1440px; 
    height: 2000px;
    background-color: #F2F2F2;
    font-family: ralewaythin;
}

#header{

    display:flex;
    justify-content: space-between;
    height: 5%;
   
}

#navigation{

    display: flex;
    width: 25%;
    justify-content: space-around;
    font-size: 0.8em;
    
    
}

.txtblue{

    color:#0065FC;
    border-top: 2px #0065FC solid;
   
}
.txtblue2{

    color:#0065FC;
    
   
}


#marseille{

    width: 950px;
   
  
}


.carte_hebergement{

    width: 250px;
    height: 200px;
    border: 10px #F2F2F2 solid;

}


.img{

    width: 250px;
    height: 115px;
    
}
   
.desc{
    
    width: 250px;
    height: 120px;
    
}
   
span .fa-star{

    color:#D9D9D9D9;
}

.img2{

    width: 130px;
    height: 134px;
    float: left;

}
