body{

    margin: auto;
    
}


#page{

    font-size: 4em;

}

#logo{

    width: 100%;
    margin-bottom: 6%;
    text-align: center;
    border-bottom: 5px #0065FC solid;
    margin-left: 0;

}

#reservia{

    width: 30%;
   
    
}

#header{

    flex-wrap: wrap;
    margin-left: 0;
    
   
 }


 .txtblue{

    color:#0065FC;
    border-top: none;
    padding-top: 4%;
    
}

#titre{

    margin-top: 150px;
   
   
}

#recherche{

    margin-bottom: 140px;
    margin-top: 140px;
    text-align: center;
   
}

.fa-map-marker-alt{

    border: 2px #F2F2F2 solid;
    padding: 50px 50px 0px 60px;
    width: 75px;
    height: 120px;
    border-radius: 60px 0px 0px 60px;
    
}

#saisie{

    width: 900px;
    margin-left: -18px;
    height: 164px;
    border: 4px #F2F2F2 solid;
  
}

#bouton{

    display: none;

}

#loupe{

    display: inline; 
    height: 175px;
    width: 180px;
    border-radius: 60px 60px 60px 60px;
    margin-left: -80px;
    color: white;
    background-color: #0065FC;
    border: none;
   
}
#filtres{

    flex-wrap: wrap;
    font-size: 0.8em;
   
}

#filtres p{

    font-size: 1.2em;
    margin-left: 80px;
    padding-bottom: 70px;
    width: 100%;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    width: 170px;
    height: 110px;
    padding-top: 50px;
   
}

.filtre{

    border-top: 7px #D9D9D9 solid;
    border-right: 7px #D9D9D9 solid;
    border-bottom: 7px #D9D9D9 solid;
    border-radius: 100px 100px 100px 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    height: 155px;
    
}

.eco{

    width: 35%;
    order: 4;
    
   
}

.fam{

    width: 30%;
    order:2;

}

.rom{

    width: 35%;
    order: 3;
    
}

.ani{

    width: 45%;
    order: 1;


}

#information{

    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
    
}

.fa-info{

    border: 7px #F2F2F2 solid;
    background-color: #DEEBFF;
    width: 90px;
    height: 80px;
    padding-top: 20px;
    margin-right:20px ;
  
}

#corps{

    flex-direction: column;
    justify-content: space-around;
   
 }

 #hebergement{

    display: flex;
    flex-direction: column;
    width: 100%;
   
   
}

#hebergement h2, .plus{

    font-weight: bold;
    font-family: ralewaybold, sans-serif;
    text-align: center;
    margin-left: -35px;

}

.plus{

    margin-top: 0;
    margin-bottom: 200px;
}

#marseille{

    flex-direction: column;
    align-items: center;

}

.carte_hebergement{

    width: 1290px;
    height: auto;
    margin-bottom: 200px;
    border-radius: 70px 70px 70px 50px;
    

}

.img{

    width: 100%;
    height: 400px;
    border-radius: 70px 70px 0px 0px;
    
}

.desc{
    
    width: 100%;
    height: 350px;
    
}

#pop{

    width: 100%;
    background-color: #FFFF;
   
}

#pop h2{

    font-family: ralewaybold, sans-serif;
    margin-left: 50px;
    text-align: center;
    
}

.fa-chart-line{

    padding-left: 5%;
}

#populaires{

    display: flex;
    flex-direction: column;
    
   
}

.carte_populaire{

    width: 1290px;
    height: auto;
    margin-bottom: 80px;
    padding: 20px 20px 20px 20px;
    border-radius: 70px 70px 70px 70px;
    box-shadow: 0px 15px 12px #f2f2f2;
    background-color: #F2F2F2;

}

.img2{

    width: 530px;
    height: 400px;
    border-radius: 70px 0px 0px 70px;
    
}

.desc2 span{

    line-height: 1em;
}

#activites{

    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

#activites h1{

    
    text-align: center;
     
}

#act{

    height: 80%;
 
}

.vignette{

    width: 1290px;
    height: 800px;
    border-radius: 70px 70px 70px 70px;
    box-shadow: 0px 18px 16px #F2F2F2;
    margin-bottom: 15%;
 
}

.vieux_port, .calanques{

    display: none;
       
}

.img3{

    width: 1296px;
    height: 600px;
    border-radius: 70px 70px 0px 0px;
    
}

.img4{

    display: inline;
    border-radius: 70px 70px 0px 0px;
    width: 1296px;
    height: 600px;
}

.vignette p{

    height: 150px;
    width: 1235px;
    background-color: #ffff;
    line-height: 150px;
    margin-top: -10px;
    border-radius: 0px 0px 70px 70px;
    
}

#footer{

    flex-direction: column;
    font-family: ralewayregular, sans-serif;
    font-size: 4em;
    width: 1360px;
    padding-left: 80px;
    background-color: #FFFF;

}

.bottom{

    margin-right: 0%;
    padding-left: 0%;
}

.bottom h5{

    font-family: ralewaybold, sans-serif;

}