@font-face {
    font-family: 'ralewayregular';
    src: url('police/raleway-regular-webfont.woff2') format('woff2'),
         url('police/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('police_bold/raleway-bold-webfont.woff2') format('woff2'),
         url('police_bold/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#page{

    width: 100%;
    font-family: ralewayregular, sans-serif;
    
}

/* début bloc header */

a{

    text-decoration: none;
    color: black;
    
}

#header{

    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
   

}

#navigation{

    display:flex;
    justify-content: space-around;
    font-weight: bold;
    
}

#logo{

    margin-left: -3.3%;
    padding-top: 3%;
    width: 60%;
      
}


.txtblue{

    color:#0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 4%;
    
}

.txtblk{

    padding-top: 4%;
    font-weight: bold;

    
}

.txtblue2{

    color:#0065FC;
    padding-top: 4%;
    
}

#titre{

    width: 100%;
}

#titre h2{

    margin-top: 4%;
    margin-bottom: 0%;
    font-family: ralewaybold, sans-serif;
   

}

#recherche{

    margin-bottom: 3%;
    margin-top: 3%;
   
}

#loupe{

    display: none;
}

.fa-map-marker-alt{

    border-top: 2.5px #f2f2f2 solid;
    padding: 11.5px 4px 0px 15px;
    width: 25px;
    height: 32px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    
}

#saisie{

    width: 270px;
    height: 40px;
    border: 2px #F2F2F2 solid;
    margin-left: -6px;
    font-weight: bold;
    font-size: 0.9em;

}

#bouton{

    margin-left: -6px;
    width: 120px;
    height: 46px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: #FFFF;
    font-size: 0.9em;
}

#filtres{

  
    display: flex;
    font-family: ralewaybold, sans-serif;
   
}

#filtres p{

    margin-top: 14px;
    margin-right: 4%;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

    background-color: #DEEBFF;
    color: #0065FC;
    width: 50px;
    height: 36px;
    text-align: center;
    padding-top: 14px;
    margin-right:20px ;
    border-radius: 100px 100px 100px 100px;
    margin-left: -20px;
    position: relative;
    bottom: 2px;


}

.filtre{

    border-top: 2px #D9D9D9D9 solid;
    border-right: 2px #D9D9D9D9 solid;
    border-bottom: 2px #D9D9D9D9 solid;
    border-radius: 0px 30px 30px 0px;
    margin-right: 50px;
    padding-right: 20px;
    width: auto;
    height: 45px;
    
}

.filtre:hover{

    color: #f2f2f2;
    background-color:#0065FC ;
}

#information{
    
    margin-bottom: 2%;
    margin-top: 2%;

}

.fa-info{

    color: #0065FC;
    border: 1px #F2F2F2 solid;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    margin-right:5px;
    border-radius: 100px 100px 100px 100px;
  
}

/* fin du bloc header */

/* début bloc corps */

#corps{

    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    
}


#hebergement{

   
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 80%;
    padding-top: 1%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
   
}

#hebergement h2, .plus{

    margin-left: 4%;
    font-weight: bold;
    

}

#marseille{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



.carte_hebergement{

    display: flex;
    flex-direction: column;
    height: 43%;
    width: 25%;
    margin-bottom: 3%;
    padding: 0.5%;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFF;

}

.pict{
    width: 100%;
    height: 9em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    border-radius: 20px 20px 0px 0px;
    
}



#cannebiere{

    background-image: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#port{

    background-image: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#mouettes{

    background-image: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#mer{

    background-image: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: 110% 150%;
    background-position-x: 30%;
    background-position-y: 30%;
  
}

#panier{

    background-image: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#amina{

    background-image: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: 120% 220%;
    background-position-x: 30%;
    background-position-y: 40%;
}

 
.desc{
    
    
    line-height: 1.8em;
    padding-left: 2%;
    padding-top: 2%;
    height: 50%;
    
}

span .fa-star{

    color:#D9D9D9D9;
}

.fa-star{
 
    color:#0065FC;
    
}

#pop{

    display:flex;
    flex-direction: column;
    width: 28%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}


#pop h2{

    margin-left: 4%;
    padding-top: 2.5%;

}

#populaires{

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
 
   
}


.fa-chart-line{

    position: absolute;
    right: 8%;
}

.carte_populaire{

    display: flex;
    width: 85%;
    height: 22%;
    padding: 4px 4px 4px 4px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFF;
    
}


.carte_populaire h3{

    font-size: 1.1em;
    margin-bottom: 0.1em;
}
  
.img2{

    width: 8em;
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 20px 00px 0px 20px;
    background-size: 120% 100%;
    float: left;
    
}

#soleil{

    background-image: url("images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: 160% 120%;
    background-position-x: 50%;
    background-position-y: 50%;
}

#eau{

    background-image: url("images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
    
}

#bleu{

    background-image: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    

}

.desc2{

    padding-left: 9em;
    padding-top: 0.5em;
    
}

.desc2 span{

    line-height: 3em;
}

/* fin bloc corps */

/* début bloc activités */

#activites{

    margin-bottom: 50px;
    width: 90%;
    margin: auto;
}

#activites h1{

    font-family: ralewaybold, sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    
}

#act{

    display: flex;
    justify-content: space-between;
    height: 500px;

}

.vignette{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 22%;

    
}

.vignette2{

     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 22%;
     
}

.vignette3{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 100%;
    height: 53%;
}

.vignette4{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 100%;
    height: 40%;

}


.vignette5{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 6px #F2F2F2;
    width: 100%;
    height: 46%;

}

.vignette p{

    padding-left: 5%;
    padding-top: 2%;
    font-weight: bold;font-family: ralewaybold, sans-serif;
}

.vignette3 p{

    padding-left: 5%;
    padding-top: 1%;
    font-weight: bold;font-family: ralewaybold, sans-serif;

}

.vignette4 p{

    padding-left: 5%;
    padding-bottom: 2%;
    font-weight: bold;font-family: ralewaybold, sans-serif;

}
.vignette5 p{

    padding-left: 5%;
    padding-bottom: 2%;
    font-weight: bold;font-family: ralewaybold, sans-serif;
}


.pict3{

    width: 100%;
    height: 87%;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#vieux_port{

    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: 200% 120%;
    background-position-x: 50%;
    background-position-y: 50%;
}


#calanques{

    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: 200% 120%;
    background-position-x: 50%;
    background-position-y: 50%;
}



.pict4{

    width: 100%;
    height: 78%;
    border-radius: 20px 20px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#pomegues{

    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: 100% 240%;
    background-position-x: 50%;
    background-position-y: 40%;

}

#frioul{

    background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: 100% 140%;
    background-position-x: 50%;
    
}



#garde{

    background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: 100% 140%;
    background-position-x: 50%;
}

#longchamp{

    background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: 110% 110%;
    background-position-x: 30%;
    background-position-y: 10%;
}



/* début bloc activités */

/* début footer */
#footer{

    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-family: ralewayregular, sans-serif;
    background-color: #F2F2F2;
    
}

#bas_de-page{

    display: flex;
    justify-content: center;
    font-family: ralewayregular, sans-serif;
    background-color: #F2F2F2;
    width: 100%;

}

.bottom{

    margin-right: 20%;
    padding-left: 2%;
}

.bottom h5{

    font-family: ralewaybold, sans-serif;
    font-size: 1em;
}

.bottom p{

    line-height: 2em;
}

/* fin du footer */

